*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url('../fuentes/CODE\ Bold.otf'),url('../fuentes/CODE\ Light.otf');
}
body{
    font-family: myfont;
    src: url(../fuentes/CODE\ Bold.otf), url(../fuentes/CODE\ Light.otf);
    background: url(../imagenes/bg.jpeg) no-repeat center top;
    background-size: cover;
    height: auto; 
}
header{
    background-color: rgba(255, 255, 255, 0.234)
}
@media (max-width: 600px){ /* TABLET */
    body{
    background: url(../imagenes/bg.jpeg) no-repeat center top;
    background-size: cover;
    height: auto; 
    }
    header{
        width: 100%;
    }
    .contenedor{
        width: 100%;
    }
    .contenedor_logo{
        width: 90%;
    }
    .contenedor_logo div{
        width: 100%;
        justify-content: center;
    }
    .contenedor_logo img{
        width: 100%;
        height: 100%;
    }
    .contenedor_menu {
        width: 100%;
        flex-wrap: wrap;
    } 
    .contenedor_menu li{
        height: 40px;
        width: 100%;
        text-align: center;
        border-bottom: solid rgb(255, 174, 0);
    }
    .contenedor_menu li:hover{
        background-color: chocolate;
        cursor: pointer;
    }
    .contenedor_carrito{
        z-index: 1;
        position: fixed;
        width: 60px;/*
        margin-top: 20%;*//*
        top: 20%;*/
        margin-left: 60%;
        background-color: rgba(0, 0, 0, 0.138);
        border-radius: 50%;
        /*height: 40%;*/
    }
    .car-top{
        margin-top: 25%;
    }
    .contenedor_carrito img{
        height: 55px;/*
        width: 55px; */
    }
    .contenedor_carrito li{
        float: right;
    }
    .icono {
        margin-right: 70%;
        top: 23%;
        background-color: rgba(255, 166, 0, 0);
        box-shadow: 0 0 30px -15px black;
        border-radius: 50%;
    }
    .icono img{
        right: 16%;
        width: 90px;
        height: 90px;
    }
    .titulo h1, p{
        height: 3px;
        color: rgba(255, 255, 255, 0);
        text-shadow: 3px -3px rgba(255, 255, 255, 0);
    }
    .lista-carrito{
        min-width: fit-content;
        float: left;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    .lista-carrito img{
        width: 80px;
        height: 75px;
    }
    .conten-login{
        width: 100%;
        height: auto;
        margin-top: 10%;/*
        top: 0%;*/
    }
    .loginbox{
        margin-top: 15%;
        width: 90%;
        height: auto;
    }
    .wrap{
        background-color:rgba(0, 0, 0, 0);
        width: 95%;
        padding: 2px;
    }
    .contenedor-formulario {
        width: 100%;
    }
    .table-responsive{
        width: 100%;
    }
    .table-responsive table{
        width: 100%;
    }
    .slider{
        width: 100%;
    }
    .contacto{
        width: 100%;
        height: 400px;
    }
}
@media (min-width: 768px){ /* ESCRITORIO */
    .contenedor{
        width: 100%;
    }
}
.contenedor{
    background-color:rgba(192, 192, 240, 0.056);/*
    background-color: rgba(255, 255, 255, 0.905);*/
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Bpagina{
    margin-top: 5px;
    width: 100%;
    background-color: rgb(31, 114, 238);
    display: flex;
    justify-content: center ;
}
.Bpagina footer p{
    text-decoration: none;
    height: 40px;
    list-style: 40px;
    color: white;
}
.contenedor_carrito {
    margin-top: 10px;
}
.contenedor_carrito div{
    float: right;
}
.contenedor_carrito li{   
    list-style-type: none;
}
.fondito{
    background-color: rgba(255, 255, 255, 0.796);
    box-shadow: 0 0 30px -10px rgb(49, 54, 186);
}
.titulo{
    margin-top: 2%;
    text-align: center;
    color: white;
    text-shadow:3px -3px black;
}
.icono{
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    float: right;
}
.icono img{
    width: 55px;
    height: 55px;
}
.icono a i{
    color: black;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.icono:hover{
    transform: scale(1.2);
    opacity: 1;
}
/* esto le da detalle a la barra de desplazamaiento  */
::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
   }
   /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
   ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
   }
   /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
   ::-webkit-scrollbar-thumb:hover {
    background:  rgb(237, 127, 10);
    box-shadow: 0 0 30px -10px rgb(49, 54, 186);
    /*
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);*/
   }
   /* Cambiamos el fondo cuando esté en active */
   ::-webkit-scrollbar-thumb:active {
    background-color: rgb(237, 127, 10);
   }
   /* Ponemos un color de fondo y redondeamos las esquinas del track */
   ::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 4px;
   }
   /* Cambiamos el fondo cuando esté en active o hover */
   ::-webkit-scrollbar-track:hover,
   ::-webkit-scrollbar-track:active {
   background: #d4d4d4;
   }




