.container{/*
    background: rgba(0, 0, 0, 0.309);*/
    top: 5%;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px rgb(49, 54, 186);
    width: 95%;
    background-color: white;
}
.slider{
    border-radius: 5px;
    box-shadow: 0 0 60px -1px rgb(49, 54, 186);
    margin-top: 30px;
    justify-content: center;
    width: 60%;
    height: 100%;
    overflow: hidden;
}.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate-reverse linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100% ;}
    45%{margin-left: -100% ;}
    
    50%{margin-left: -200% ;}
    70%{margin-left: -200% ;}
    
    75%{margin-left: -300% ;}
    100%{margin-left: -300% ;}
}



/*/*
.post{
    width: 250px;
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 30px -10px black;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5px;
}
.post .ctn-img{
    width: 100%;
}
.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    padding: 0px 10px;
}/*
.post span{
    display: block;
    margin-top: 5px;
    padding: 0px 10px;
}*//*
.ctn-pre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*
    margin-left: 0px;*/
    margin-top: 5px;
}/*
.ctn-pre span {
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}
.boton button{
    margin-top: 5px;/*
    margin-left: 0px;*//*
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.post button:hover{
    opacity: 0.9;
}*/
