body{
    margin: 0%;
    padding: 0%;
    background: url(../imagenes/bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh; 
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 75%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.loginbox .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox h1{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;

}

.loginbox label{
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    display: block;
}

.loginbox input{
    width: 100%;
    margin-bottom: 15%;
}

.loginbox input[type="text"] ,
.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background-color: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover {
    color: #fff;
    text-align: center;
}