
   .mostrar-item_detalles p {
    font-size: 15px;
    margin: 0px;
   }
   .contenedor_detalles{
      background-color: rgba(255, 255, 255, 0.905);
      width: 65%;
      margin: auto;
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
  }
  .detalles{
   flex-grow: 10;
  }
  .detalles h1{
     text-align: none;
  }
   .mostrar_contenido {
    display: inline;
    flex-grow: 4;
    padding-bottom: 5px;
   }
   .mostrar-item {
    width: 320px;
    height: 370px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center;
    position: unset;
   }
   .mostrar-item:hover~.mostrar-item {
    transform: translate3d(100px, 0, 0);
   }
   .mostrar_contenido:hover .mostrar-item {
    opacity: 0.3;
   }
   .mostrar_contenido:hover .mostrar-item:hover {
    transform: scale(1.5);
    opacity:1;
   }
   .mostrar-item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   